body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 40px;
}

#B {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    color: rgb(59, 28, 196);
    text-align: center;
}

